.mainCard{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: cornflowerblue;
  row-gap: 10px;
  border-radius: 12px;

}

.mainCard button{

  width: 100px;
  height: 25px;
  cursor: pointer;
  border-radius: 12px;
  background: #ffdf42;

}
