* {
  margin: 0;
  padding: 0;
}

.usersList {

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 500px;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  background: #e3cd64;

}

.postsList {

  width: 100%;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  background: #cb6f6f;

}


.commentsList {

  width: 100%;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  background: #4ecb76;

}
