<form [formGroup]="form">

  <input type="text" placeholder="model" formControlName="model">
  <input type="number" placeholder="price" formControlName="price">
  <input type="number" placeholder="year" formControlName="year">
<!--  <span *ngIf="form.controls['model']['errors']">{{form.controls['model']['errors'] | json}}</span>-->
<!--  <span *ngIf="form.controls['price']['errors']">{{form.controls['price']['errors'] | json}}</span>-->
<!--  <span *ngIf="form.controls['year']['errors']">{{form.controls['year']['errors'] | json}}</span>-->
  <button [disabled]="form.invalid" (click)="save()">{{updateCar?'Update':'Save'}}</button>

</form>

<hr>

<app-car *ngFor="let car of cars" [car]="car" (carForUpdate)="lift($event)" (carIdForDelete)="delete($event)"></app-car>
